Download demo:
<ul>
  <li><%= link_to "Linux", "https://drive.google.com/open?id=0B8DtqFIE221kbmpvRkpGRU1YMTg" %></li>
  <li><%= link_to "Mac", "https://drive.google.com/open?id=0B8DtqFIE221kR2VteGhWQmhlOG8" %></li>
  <li><%= link_to "Windows", "https://drive.google.com/open?id=0B8DtqFIE221kZGJBOGRfYVg2bWc" %></li>
</ul>

<ul class="nav nav-tabs">
  <li><a href="#over" data-toggle="tab"><h3>Overview</h3></a></li>
  <li><a href="#screens" data-toggle="tab"><h3>Screenshots</h3></a></li>
</ul>

<div class="tab-content">
  <div id="over" class="tab-pane fade in active">
    <p>
      BeeTracker was the Culminating Experience project for my Master's Degree. 
    </p>
    <p>
      The written report for the project can be found <%= link_to "here", "https://drive.google.com/open?id=0B8DtqFIE221kZl9NaWNvYl9UTms" %>.
    </p>
  </div>

  <div id="screens" class="tab-pane fade">
    <p>
      <h3>Title screen</h3>
      <%= image_tag("BeeTracker/title.jpg") %>
    </p>

    <br>
    <p>
      <h3>Main screen</h3>
      <%= image_tag("BeeTracker/main.jpg") %>
    </p>

    <br>
    <p>
      <h3>Results screens<h3>
      <%= image_tag("BeeTracker/summary1.jpg") %><br>
      <%= image_tag("BeeTracker/summary1.jpg") %>
    </p>
  </div>
</div>