Download demo:
<ul>
  <li><%= link_to "Linux", "https://drive.google.com/file/d/0B8DtqFIE221kTWhHb1VLU1FLWWs/view?usp=sharing" %></li>
  <li><%= link_to "Mac", "https://drive.google.com/file/d/0B8DtqFIE221kQjJfdG1wdE1aTlE/view?usp=sharing" %></li>
  <li><%= link_to "Windows", "https://drive.google.com/file/d/0B8DtqFIE221kaTJ4cllGZzB3dUk/view?usp=sharing" %></li>
</ul>

<ul class="nav nav-tabs">
  <li><a href="#over" data-toggle="tab"><h3>Overview</h3></a></li>
  <li><a href="#screens" data-toggle="tab"><h3>Screenshots</h3></a></li>
</ul>

<div class="tab-content">
  <div id="over" class="tab-pane fade in active">
    <p>
      This simple image browser is the culmination of a series of minor assignments for a multimedia
      applications course. Created in Java using the <%= link_to "Processing", "http://processing.org" %>
      library, the browser exhibits several multimedia interactions:
    </p>

    <ul style="font-size=18px">
      <li>images:
        <ul>
          <li>loads from "data/img" directory</li>
          <li>scales and displays on screen as appropriate</li>
          <li>loaded images can have associated meta-data:
            <ul>
              <li>each image has its own set of text tags</li>
              <li>tags can be saved to and loaded from "data/img/tags" directory</li>
            </ul>
          </li>
        </ul>
      </li>

      <li>audio:
        <ul>
          <li>loads from "data/sounds" directory</li>
          <li>sounds play in response to program state change</li>
        </ul>
      </li>

      <li>video:
        <ul>
          <li>captured from camera if available</li>
          <li>captured image is filtered and processed for gesture tracking
            <ul>
              <li>blobs are used to simulate mouse pointer</li>
              <li>enlarging the size of a detected blob constitutes a mouse click</li>
            </ul>
          </li>
        </ul>
      </li>

      <li>user interaction:
        <ul>
          <li>keyboard
            <ul>
              <li>left and right arrows scroll through images</li>
              <li>up and down arrows zoom in and out of currently selected image</li>
              <li>angle brackets (&lt; &gt;) paginate through images</li>
              <li>space bar sets color used for gesture tracking</li>
              <li>'d' key toggles debug mode which shows detected blobs</li>
              <li>if focused on text field, can type in text tag</li>
              <li>'esc' key exits program</li>
            </ul>
          </li>
          <li>mouse
            <ul>
              <li>selects and zooms into an image on the current page with a click</li>
              <li>interact with buttons and text field UI components</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

    <p>
      These interactions were implemented using Damien Di Fede's
      <%= link_to "Minim", "http://code.compartmental.net/tools/minim/" %> audio library,
      Andreas Schlegel's <%= link_to "ControlP5", "http://www.sojamo.de/libraries/controlP5/" %>
      UI library, and Julien Gachadot's
      <%= link_to "BlobDetection", "http://www.v3ga.net/processing/BlobDetection/" %> library.
      Please be aware that the Processing video library depends on the gstreamer library.
      While gstreamer will often be already installed on Linux systems as a dependency for other
      applications, this is generally not the case for Windows or OS X, necessitating the inclusion
      of the required shared library files, and hence the larger downloadable size.
    </p>
  </div>

  <div id="screens" class="tab-pane fade">
    <p>
      <h3>Main screen</h3>
      <%= image_tag("ImgBrowser/mainview.jpg") %><br>
    </p>

    <br>
    <p>
      <h3>Image view mode</h3>
      <%= image_tag("ImgBrowser/imageview.jpg") %><br>
    <p>

    <br>
    <p>
      <h3>Calibration screen</h3>
      <%= image_tag("ImgBrowser/calibview.jpg") %><br>
    </p>

    <br>
    <p>
      <h3>Debug mode</h3>
      <%= image_tag("ImgBrowser/debugview.jpg") %><br>
    </p>
  </div>
</div>