Download demo:
<ul>
  <li><%= link_to "Linux", "http://su-13-project-slide-puzzle.googlecode.com/svn/trunk/Executables/SlidePuzzleLinux.zip" %></li>
  <li><%= link_to "Mac", "http://su-13-project-slide-puzzle.googlecode.com/svn/trunk/Executables/SlidePuzzleMac.zip" %></li>
  <li><%= link_to "Windows", "http://su-13-project-slide-puzzle.googlecode.com/svn/trunk/Executables/SlidePuzzleWindows.zip" %></li>
</ul>

<ul class="nav nav-tabs">
  <li><a href="#over" data-toggle="tab"><h3>Overview</h3></a></li>
  <li><a href="#screens" data-toggle="tab"><h3>Screenshots</h3></a></li>
</ul>

<div class="tab-content">
  <div id="over" class="tab-pane fade in active">
    <p>
      This is a simple slide puzzle game created using Unity3D. The project was originally envisioned
      as a joint endeavor between myself and <%= mail_to "CALiforykng5i5@gmail.com", "Ying Kit Ng" %>.
      The goal of the game is to rearrange the tiles into the proper order, only moving one tile at a
      time. The game tracked the number of moves and the elapsed time, and our intent was for the user
      to be able to share his scores with others on Facebook.
    </p>

    <p>
      I was responsible for implementing the client portion of the game, while Ying Kit would implement
      the server portion. The client is mostly finished, with only the addition of GUI images and server
      API calls remaining. Unfortunately, development has since stalled pending the implementation of
      the server API calls. For demo purposes, I've exported the client &mdash; originally intended to
      run on the Unity Web Player &mdash; as standalone executables.
    </p>
  </div>

  <div id="screens" class="tab-pane fade">
    <h2>Title screen</h2>
    <p><%= image_tag("SlidePuzzle/title.jpg") %></p>

    <h2>Tutorial</h2>
    <p><%= image_tag("SlidePuzzle/tutorial.jpg") %></p>

    <h2>Game screens</h2>
    Easy
    <p><%= image_tag("SlidePuzzle/easy.jpg") %></p>
    Normal
    <p><%= image_tag("SlidePuzzle/normal.jpg") %></p>
    Hard
    <p><%= image_tag("SlidePuzzle/hard.jpg") %></p>
  </div>
</div>