<ul class="nav nav-tabs">
  <li><a href="#over" data-toggle="tab"><h3>Overview</h3></a></li>
  <li><a href="#screens" data-toggle="tab"><h3>Screenshots</h3></a></li>
</ul>

<div class="tab-content">
  <div id="over" class="tab-pane fade in active">
    <p>
      <i>Visualize</i> was a group term project for a biomedical imaging and analysis course.
      The goal of the project was to develop a biomedical image analysis system using public
      software libraries. Our group consisted of 10 members, broken down into the following teams:
    </p>

    Segmentation/Registration
    <ul>
      <li><%= mail_to "mr.burmark@gmail.com", "Jason Burmark" %> (group leader)</li>
      <li><%= mail_to "moaanalmehin@gmail.com", "Moaan Ahmed" %></li>
      <li><%= mail_to "root@davidkushner.me", "David Kushner" %></li>
      <li><%= mail_to "michael.david.simon12357@gmail.com", "Michael Simon" %></li>
    </ul>

    Quantification/Visualization
    <ul>
      <li><%= link_to "Kay Choi (myself)", "/about#me" %> (group leader)</li>
      <li><%= mail_to "echu10@gmail.com", "Eric Chu" %></li>
      <li><%= mail_to "felix.ramirezjr@gmail.com", "Felix Ramirez" %></li>
    </ul>

    UI/Integration
    <ul>
      <li><%= mail_to "justinacotter@gmail.com", "Justina Cotter" %> (group leader)</li>
      <li><%= mail_to "otherwhitefrank@gmail.com", "Frank Dye" %></li>
      <li><%= mail_to "jsanch165@gmail.com", "Juan Sanchez" %></li>
    </ul>

    <p>
      <i>Visualize</i> is able to identify the differences between two DICOM images, for instance
      to allow medical professionals to more easily identify changes in an organ over time.
      <i>Visualize</i> was built in C++ using the following frameworks:

      <ul>
        <li><%= link_to "ITK", "itk.org" %> - image processing</li>
        <li><%= link_to "VTK", "vtk.org" %> - image visualization</li>
        <li><%= link_to "Qt5", "qt.io" %> - UI</li>
      </ul>

      My individual final report for the project is available <%= link_to "here", "https://drive.google.com/open?id=0B8DtqFIE221kSzhPVHpOLWtRalk" %>. To demo,
      please build from source according to the <%= link_to "repository readme",
      "https://github.com/darthyoshi/csc621-821-sp2015/blob/feature/qt_integration/README.md" %>.
    </p>
  </div>

  <div id="screens" class="tab-pane fade">
    <%= image_tag("Visualize/load.jpg") %><br>
    <%= image_tag("Visualize/register.jpg") %><br>
    <%= image_tag("Visualize/segment.jpg") %>
  </div>
</div>
