<% categories = YAML.load(File.read(File.expand_path("config/projects.yml"))) %>

<ul class="nav nav-tabs">
  <% categories.each do |category, projects| %>
  <li><a href="#<%= category %>" data-toggle="tab"><%= category %></a></li>
  <% end %>
</ul>

<div class="tab-content">
  <% categories.each do |category, repos| %>
  <div id="<%= category %>" class="tab-pane fade<% if category == "LAMP" %> in active<% end %>">
    <h2><%= category %></h2>

    <% repos.each do |repo, project| %>
    <h3>
      <%= project["date"] %>
      <small>(
        <% if repo == "private" %>
          code available upon request
        <% else %>
          <%= link_to "Repository", repo %>
        <% end %>
      )</small>
    </h3>

    <table class="welcome-table table">
      <thead>
        <tr>
          <th width="50%">Project</th>
          <th>Description</th>
        </tr>
      </thead>

      <tbody>
        <% project["projects"].each do |name, details| %>
        <tr>
          <td>
            <% if details["url"] == "n/a" %>
              <%= name %>
            <% else %>
              <%= link_to name, details["url"] %>
            <% end %></td>
          <td><%= details["description"].html_safe %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <% end %>
  </div>
  <% end %>
</div>
