<% categories = YAML.load(File.read(File.expand_path("config/projects.yml"))) %>

<% categories.each do |category, projects| %>
<h2><%= category %>
<small><%= link_to "Repository", projects["repo"] %></small></h2>

<table class="welcome-table table">
  <thead>
    <tr>
      <th>Project Description</th>
      <th>URL</th>
    </tr>
  </thead>

  <tbody>
    <% projects["projects"].each do |project, details| %>
    <tr>
      <td width="50%"><%= details["description"].html_safe %></td>
      <td>
        <% if details["url"] == "n/a" %>
          <%= details["url"] %>
        <% else %>
          <%= link_to details["url"], details["url"] %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<hr>
<% end %>
