<ul class="nav nav-tabs">
  <li><a href="#me" data-toggle="tab"><h3>Me</h3></a></li>
  <li><a href="#site" data-toggle="tab"><h3>This Site</h3></a></li>
</ul>
<div class="tab-content">
  <div id="me" class="tab-pane fade in active">
    <div style="float:left;padding-right:20px">
      <%= image_tag("kaychoi.jpg") %>
    </div>
    <div>
    <p>
      I am currently a student in the San Francisco State University Computer Science
      Master's Degree program. A previous alumnus of the SFSU Computer Science department,
      I originally began programming with C/C++ and Java. My main interest in programming
      is games and other multimedia applications, although I've also done web design work.
    </p>

    <p>
      I can be reached at <%= mail_to "kchoi@mail.sfsu.edu" %>.
    </p>
    </div>
  </div>

  <div id="site" class="tab-pane fade">
    This site was originally created as a series of mini-projects for an internet applications course 
    using the following technologies:
    <ul>
      <li>Ruby <%= RUBY_VERSION %></li>
      <li>Rails <%= Rails::VERSION::STRING %></li>
      <li>Sass (CSS) <%= Gem.loaded_specs["sass-rails"].version %></li>
      <li>Bootstrap framework (Sass) <%= Gem.loaded_specs["bootstrap-sass"].version %></li>
      <li>CoffeeScript <%= Gem.loaded_specs["coffee-rails"].version %></li>
      <li>JQuery <%= Gem.loaded_specs["jquery-rails"].version %></li></li></li>
      <li>PostgreSQL <%= Gem.loaded_specs["pg"].version %></li>
    </ul>
    <h3>
      Why "Salty Refuge"?
    </h3>
    <p>
      When I first set up this site, Heroku assigned the randomly generated ID
      "salty-refuge-3061". I liked how it sounded, so I decided to keep it rather
      than changing it to something else.
    </p>
  </div>
</div>

