<% title = ""

PROJECTS.each do |project,details|
  if details['url'] == request.fullpath && request.fullpath != "/"
    title = details['description']
  end
end

MAIN.each do |main,details|
  if details['url'] == request.fullpath && request.fullpath != "/"
    title = details['description']
  end
end

if request.fullpath == "/projects"
  title = "Projects page"
elsif request.fullpath == "/"
  title = "Home page"
end


%>
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class = 'page-header navbar'>
    <b>Kay Choi</b>
</header>

<div class='container hero-unit'>
    <%= yield %>
</div>

</body>
</html>
