<% title = ""
TITLES.each do |main,details|
  if details['url'] == request.fullpath
    title = details['title']
  end
end

%>
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class = 'page-header navbar'>
    <h1>Kay Choi</h1>
    <div class='navbar-header'>
      <% MAIN.each do |main, details| %>
      <%= link_to ("<button><h4>"+main+"</h4></button>").html_safe, details['url'] %>
      <% end %>
    </div>
</header>

<div class='container hero-unit'>
    <%= yield %>
</div>

<div class='navbar' style='text-align:center'>
  <h4>&#169; 2013-<%= Date.today.strftime('%Y') %> Kay Choi</h4>
</div>
</body>
</html>
