<%
title = ""
TITLES.each do |main,details|
  if details["url"] == request.fullpath
    title = details["title"]
  end
end
%>
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class = "page-header navbar">
  <noscript><div class='noscript'>
    This site is designed to use Javascript.
  </div></noscript>

  <h1>Salty Refuge</h1>
  <h2>a site for Kay Choi's portfolio</h2>
  <div class="navbar-header">
    <% MAIN.each do |main, details| %>
    <%= link_to ("<button><h4>" + main + "</h4></button>").html_safe, details["url"] %>
    <% end %>
  </div>
</header>

<div class="container hero-unit" style="padding-top:30px">
  <h2 style="padding-bottom:15px"><%= title %></h3>
  <%= yield %>
</div>

<footer class="footer" style="text-align:center">
  <h4>&#169; 2013-<%= Date.today.strftime("%Y") %> Kay Choi</h4>
</footer>
</body>
</html>
